* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter-SemiBold";
}



/* =====  Font Family  ===== */

@font-face {
  font-family: "Inter-ExtraLight";
  src: url(../fonts/Inter-ExtraLight.ttf);

  /*?  Font Weight 200  ?*/
}

@font-face {
  font-family: "Inter-Light";
  src: url(../fonts/Inter-Light.ttf);

  /*?  Font Weight 300  ?*/
}

@font-face {
  font-family: "Inter-Regular";
  src: url(../fonts/Inter-Regular.ttf);

  /*?  Font Weight 400  ?*/
}

@font-face {
  font-family: "Inter-Medium";
  src: url(../fonts/Inter-Medium.ttf);

  /*?  Font Weight 500  ?*/
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url(../fonts/Inter-SemiBold.ttf);

  /*?  Font Weight 600  ?*/
}

@font-face {
  font-family: "Inter-Bold";
  src: url(../fonts/Inter-Bold.ttf);

  /*?  Font Weight 700  ?*/
}

@font-face {
  font-family: "Poppins-ExtraLight";
  src: url(../fonts/Poppins-ExtraLight.ttf);

  /*?  Font Weight 200  ?*/
}

@font-face {
  font-family: "Poppins-Light";
  src: url(../fonts/Poppins-Light.ttf);

  /*?  Font Weight 300  ?*/
}

@font-face {
  font-family: "Poppins-Regular";
  src: url(../fonts/Poppins-Regular.ttf);

  /*?  Font Weight 400  ?*/
}

@font-face {
  font-family: "Poppins-Medium";
  src: url(../fonts/Poppins-Medium.ttf);

  /*?  Font Weight 500  ?*/
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url(../fonts/Poppins-SemiBold.ttf);

  /*?  Font Weight 600  ?*/
}

@font-face {
  font-family: "Poppins-Bold";
  src: url(../fonts/Poppins-Bold.ttf);

  /*?  Font Weight 700  ?*/
}

@font-face {
  font-family: "SpaceGrotesk-Light";
  src: url(../fonts/SpaceGrotesk-Light.ttf);

  /*?  Font Weight 300  ?*/
}

@font-face {
  font-family: "SpaceGrotesk-Regular";
  src: url(../fonts/SpaceGrotesk-Regular.ttf);

  /*?  Font Weight 400  ?*/
}

@font-face {
  font-family: "SpaceGrotesk-Medium";
  src: url(../fonts/SpaceGrotesk-Medium.ttf);

  /*?  Font Weight 500  ?*/
}

@font-face {
  font-family: "SpaceGrotesk-SemiBold";
  src: url(../fonts/SpaceGrotesk-SemiBold.ttf);

  /*?  Font Weight 600  ?*/
}

@font-face {
  font-family: "SpaceGrotesk-Bold";
  src: url(../fonts/SpaceGrotesk-Bold.ttf);

  /*?  Font Weight 700  ?*/
}



/* =====  Root Variables  ===== */

:root {
  --green-color: #38CB89;
  --light-white-color: #fefefe;
  --dark-white-color: #f3f5f7;
  --white-color: #fff;
  --black-color: #121212;
}



/*=====  Start Navbar Section  =====*/

.navbar .container {
  padding: 16px 0;
}

.logo {
  width: 124px;
  height: 36px;
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  margin-bottom: 0;
  gap: 40px;
}

nav ul li {
  font-size: 14px;
  font-family: "SpaceGrotesk-Medium";
  cursor: pointer;
}

/*=====  End Navbar Section  =====*/



/*=====  Start header Section  =====*/

.header-bg {
  background-image: url(../images/Header-Image.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 392px;
}

.header-bg h3 {
  font-size: 54px;
  font-family: "Poppins-Medium";
}

.header-bg p {
  font-family: "Inter-Regular";
  font-size: 20px;
}

/*=====  End header Section  =====*/



/*=====  Start Product Section  =====*/

.product {
  margin-top: 60px;
}

.product-select p {
  font-size: 16px;
}

select {
  padding: 11.5px;
  border: 2px solid var(--black-color);
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  outline: var(--black-color);
  background-color: transparent;
}

.product-mt-top {
  margin-top: 40px;
}

.cards img {
  width: 262px;
  height: 349px;
  background-size: cover;
}

.white {
  background-color: var(--white-color);
  padding: 0px 14.5px;
  border-radius: 4px;
  font-family: "Inter-Bold";
  font-size: 16px;
  position: absolute;
  top: 16px;
  left: 16px;
}

.green {
  background-color: var(--green-color);
  padding: 0 13.5px;
  border-radius: 4px;
  font-family: "Inter-Bold";
  font-size: 16px;
  position: absolute;
  top: 48px;
  left: 16px;
  color: var(--light-white-color);
}

.like {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: var(--white-color);
  box-shadow: 0px 8px 16px -8px #0F0F0F1F;
  opacity: 0;
  cursor: pointer;
}

.cart {
  position: absolute;
  bottom: 16px;
  left: 16px;
  padding: 11px 73px;
  border-radius: 8px;
  background-color: var(--black-color);
  color: var(--light-white-color);
  font-size: 16px;
  font-family: "Inter-Medium";
  border: none;
  opacity: 0;
}

.like,
.cart {
  transition: all 0.3s;
}

.card-hover:hover .like,
.card-hover:hover .cart {
  opacity: 1;
}

.like .fa-heart {
  font-size: 18px;
}

.stars {
  margin-top: 12px;
}

.stars .fa-star {
  font-size: 16px;
  width: 16px;
}

.product-name {
  font-size: 16px;
}

.price-div p {
  font-size: 14px;
  margin-right: 12px;
}

.price-div p:last-child {
  margin-right: 0;
}

strike {
  font-family: "Inter-Regular";
}

.btn-row {
  margin: 80px 0 100px 0;
}

.show-more {
  border: 1px solid var(--black-color);
  background-color: transparent;
  padding: 7.5px 38.5px;
  border-radius: 80px;
  font-size: 16px;
  font-family: "Inter-Medium";
  text-align: center;
  transition: all 0.5s;
}

.show-more:hover {
  background-color: var(--black-color);
  border: 1px solid transparent;
  color: var(--light-white-color);
}

/*=====  End Product Section  =====*/



/*=====  Start Footer Section  =====*/

.footer-bg {
  background-image: url(../images/Footer-Image.jpg);
  background-size: 100% 100%;
  height: 360px;
}

.title {
  font-size: 40px;
  font-family: "Poppins-Medium";
  text-align: center;
  margin-top: 101px;
  letter-spacing: -0.4px;
}

.sub-title {
  font-size: 18px;
  text-align: center;
  font-family: "Inter-Regular";
}

.email {
  font-size: 24px;
  height: 24px;
}

.footer-form {
  margin-top: 32px;
  align-items: center;
  position: relative;
  width: 488px;
}

.footer-form::after {
  content: "";
  border-bottom: 1px solid var(--black-color);
  width: 100%;
  position: absolute;
  bottom: -12px;
}

form input {
  border: none;
  background: transparent;
  width: 396px;
  height: 28px;
  outline: none;
}

input::placeholder {
  color: var(--black-color);
  font-family: "Inter-Medium";
  font-size: 16px;
  letter-spacing: -0.4;
  text-align: left;
}

form .submit-btn {
  border: none;
  background: transparent;
  font-family: "Inter-Medium";
  color: var(--black-color);
  font-size: 16px;
  letter-spacing: -0.4px;
}

.footer-bg-2 {
  background-color: var(--black-color);
  height: 249px;
}

.footer-logo {
  width: 97px;
  height: 28px;
}

.logo-section {
  margin-top: 80px;
  height: fit-content;
}

.gift {
  font-family: "Inter-Regular";
  color: var(--dark-white-color);
  font-size: 14px;
  text-align: left;
}

.footer-ul li {
  color: var(--dark-white-color);
  font-family: "Inter-Regular";
  font-size: 14px;
  cursor: pointer;
}

.footer-img-section p {
  margin-left: 65px;
}

.footer-bottom {
  margin: 49px 0 32px;
}

.copyright {
  color: var(--dark-white-color);
  font-family: "Poppins-Regular";
  font-size: 12px;
}

.footer-copyright .gift {
  font-family: "Poppins-SemiBold";
  font-size: 12px;
}

.footer-icons {
  color: var(--light-white-color);
  font-size: 24px;
  display: flex;
  gap: 24px;
}

.footer-img-section2 {
  width: 543px;
  gap: 28px;
}

/*=====  End Footer Section  =====*/



/* =====  Start Media Queries Section  ===== */


@media only screen and (max-width: 1400px) {


  /*?  C - Width <= 1400px || B - W >= 1400px xxl :- (Very large Desktops)  ?*/
}

@media only screen and (max-width: 1200px) {

  .cart {
    padding: 11px 50.5px;
  }

  /*?  C - Width <= 1200px || B - 1200px to 1400px xl :- (Large Desktops)  ?*/
}

@media only screen and (max-width: 992px) {

  nav ul li {
    font-size: 12px;
  }

  .header-bg {
    height: 250px;
  }

  .header-bg h3 {
    font-size: 40px;
  }

  .header-bg p {
    font-size: 15px;
  }

  /*?  C - Width <= 992px || B - 992px to 1200px lg :- (Desktops, Laptops, Large Tablets)  ?*/
}

@media only screen and (max-width: 768px) {

  .w-75 {
    width: 100% !important;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  .header-bg h3 {
    font-size: 35px;
  }

  .header-bg p {
    font-size: 10px;
  }

  .col-sm-6 {
    display: flex;
    justify-content: center;
  }

  .card-img {
    width: 270px;
    height: 300px;
  }

  .sm-screen {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .last-cards {
    margin-bottom: 24px !important;
  }

  .cart {
    padding: 11px 77.5px;
  }

  .footer-logo {
    width: 60px;
    height: 20px;
  }

  .gift {
    font-size: 10px;
  }

  .footer-img-section p {
    margin-left: 35px;
  }

  .footer-ul li {
    font-size: 10px;
  }

  .footer-ul {
    margin-top: 0;
  }

  .copyright {
    font-size: 10px;
  }

  .footer-icons {
    font-size: 15px;
  }

  /*?  C - Width <= 768px || B - 768px to 992px md :- (Tablets and small desktops)  ?*/
}

@media only screen and (max-width: 576px) {

  nav ul {
    margin-top: 24px;
  }

  .header-bg {
    height: 180px;
  }

  .header-bg h3 {
    font-size: 25px;
  }

  .header-bg p {
    font-size: 10px;
  }

  .margin {
    margin-top: 20px;
  }

  .select-box {
    width: 60%;
  }

  .product-select {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .footer-bg {
    background-size: 100% 100%;
  }

  .title {
    font-size: 30px;
  }

  .sub-title {
    font-size: 15px;
  }

  .footer-form {
    width: 350px;
  }

  form input {
    width: 250px;
  }

  .footer-logo {
    width: 115px;
    height: 45px;
    margin-bottom: 20px;
  }

  .footer-top {
    flex-direction: column;
    align-items: center;
  }

  .footer-img-section {
    flex-direction: column;
    align-items: center;
  }

  .gift.mb-0 {
    margin-bottom: 30px !important;
    margin-left: 0;
  }

  .footer-ul {
    padding-left: 0 !important;
    margin-bottom: 20px;
  }

  .footer-bg-2 {
    height: 400px;
  }

  .copyright {
    margin: 10px 0 20px !important;
  }

  .footer-icons {
    margin-bottom: 32px;
  }

  .gift.mb-0.margin-p {
    margin-bottom: 20px !important;
  }

  /*?  C - Width <= 576px || B - 576px to 768px sm :- (Landscape and Portrait mobiles)  ?*/
}

@media only screen and (max-width: 380px) {

  .header-bg {
    height: 130px;
  }

}

@media only screen and (max-width: 360px) {

  .footer-form {
    width: 300px;
  }

  form input {
    width: 200px;
  }


  .footer-ul li {
    font-size: 8px;
  }

}

/* =====  End Media Queries Section  ===== */